#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

config RX
        def_bool y
	select HAVE_CLK
	select HAVE_SYSCALL_TRACEPOINTS
	select HAVE_KERNEL_GZIP
	select HAVE_KERNEL_LZO
	select HAVE_DMA_ATTRS
	select HAVE_GENERIC_DMA_COHERENT
	select GENERIC_ATOMIC64
	select HAVE_UID16
	select VIRT_TO_BUS
	select IRQ_DOMAIN
	select OF
	select OF_IRQ
	select OF_FLATTREE
	select HAVE_MEMBLOCK
	select NO_BOOTMEM
	select OF_EARLY_FLATTREE
	select COMMON_CLK
	select CLKSRC_OF
	select GENERIC_CLOCKEVENTS
	select HAVE_EFFICIENT_UNALIGNED_ACCESS
	select DMA_DIRECT_OPS
	select TIMER_OF
	select GENERIC_CPU_DEVICES
	select GENERIC_IRQ_SHOW
	select UACCESS_MEMCPY
	select ARCH_HAS_BINFMT_FLAT

config MMU
	def_bool n

config SWAP
	def_bool n

config ZONE_DMA
	def_bool n

config FPU
	def_bool n

config RWSEM_GENERIC_SPINLOCK
	def_bool y

config RWSEM_XCHGADD_ALGORITHM
	def_bool n

config ARCH_HAS_ILOG2_U32
	def_bool n

config ARCH_HAS_ILOG2_U64
	def_bool n

config GENERIC_FIND_NEXT_BIT
	def_bool y

config GENERIC_HWEIGHT
	def_bool y

config GENERIC_HARDIRQS
	def_bool y

config GENERIC_TIME
	def_bool y

config GENERIC_BUG
        bool
        depends on BUG

config GENERIC_CSUM
        def_bool y

config NEED_SG_DMA_LENGTH
        def_bool y

config TIME_LOW_RES
	def_bool y

config NO_IOPORT
	def_bool y

config NO_DMA
	def_bool n

config ISA
       def_bool n

config PCI
	bool
	default n

config HZ
	int
	default 100

config NR_CPUS
	int
	default 1

config GENERIC_IRQ_SHOW
       def_bool y

source "kernel/Kconfig.freezer"

menu "Processor type and features"

choice
	prompt "Platform"
	default RX_QEMU

config RX_QEMU
	bool "QEMU virtual platform"
	select CPU_RX62N
	help
	  GDB Simulator

config TKDN_RX62N
	bool "TKDN-RX62N-BRD"
	select CPU_RX62N
	help
	  TokushuDenshiKairo Inc, Ultimate RX62N Board (NP1040)

config RXMEGA
	bool "FRK-62N w/ RX-MEGA"
	select CPU_RX62N
	help
	  CQ publising, FRK-RX62N with TokushuDenshiKairo Inc, RX-MEGA expantion board.

config AP_RX64M
	bool "AP-RX64M-0A"
	select CPU_RX64M
endchoice

config CPU_RX610
       bool
       select RX_ICUA
       select RX_TPU
       select RX_CMT

config CPU_RX62N
       bool
       select RX_ICUA
       select RX_TPU
       select RX_CMT

config CPU_RX64M
       bool
       select RXV2
       select RX_ICUA

config RX_ICUA
       bool

config CPU_LITTLE_ENDIAN
       def_bool y

menu "memory map"
config RAMSTART
       hex "RAM start address"
config RAMEND
       hex "RAM end address"
config INITIAL_STACK
       hex "Initial stack address"
config BOOT_LINK_OFFSET
       hex "Link offset of zImage"
endmenu

endmenu

